*{
    font-family: Verdana, sans-serif;
    
}
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    max-width: 1280px;
    width: 100%;
}

html{
    width: 100%;
    font-size:62.5%
}

html body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vh;
    height: 100vh;
}
*,
*::before,
*::after{
    box-sizing: border-box;}

.header{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: auto; */
    padding: 50px;
    background-color: #157293;
    /* text-align: center; */
    height: 100vh;
}
h1{
    width: 45%;
    margin-top: 5px;
    height: 45%;
}

.section2{
    width: 80%;
    display: flex;
    padding: 200px;
    justify-content: space-between;
    /* position: relative; */
}
.myproject{
    font-size: 30px;
    /* line-height: 2px; */

}
h2{
    color: #158a93;
}
.section3{
    background-color: rgb(245, 245, 245);
    /* border:2px solid rgb(245, 245, 245) */
}
.section31{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    display: flex;
    margin:0 auto;
    font-size: 20px;
    color: #4D9AAD;
}
.contact{
    border-radius: 10px;
    margin-right: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #4D9AAD;
    color:#ffffff;
    font-weight: 600;
    font-size: 20px;
    border-color: #4D9AAD;
}
.section32{
    margin-left: 90px;
}

.class{
    padding-left: 200px;
}
.set1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.set2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}


.section4{
    background-color: #4D9AAD;
    height: 100px;
    padding: 5%;
    color: #ffffff;
    font-size: 100%;
}
#image57{
    margin-left: 85%;
    padding-left: 50px;
    /* margin-bottom: 20px; */
   
}
.section41{
    display: flex;
    justify-content: space-around;
}
.section41 img{
    margin: 0.5%;
    
}
#item1 p{
    font-size: 20px; 
    font-weight: 500;
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 2px;
}
#item1 img{
    position: relative;
    margin-left: 5px;
    /* padding-left: 10px; */
    padding-bottom: 5px; ;
    padding-top: 10px;
}

#item2{
    display: flex;
    justify-content: space-between;
}

#contactme{
    margin-right: 10px;
    border: 2px  #157293;
    box-shadow: none;
    color:#157293 ;
    background-color: #ffffff;
    height: 20px;
    border-radius: 5px;
    font-weight: 300;
}
.callimg{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    font-weight: 300;
}

.footer{
    height: 150px;
    background-color: #157293;
    text-align: center;
    padding: 5%;
    color: #ffffff;
}
.footer img{
    width: 20px;
    height: 20px;
    padding: 10px;
}

@media screen and (max-width:375px) {
    .body{
        max-width: 375px;
        width:100%;
    }
    .section2{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-left: 20px;
    }
  
        
    
}